.rocket {
    background: url('https://testbucket4675.s3.ap-south-1.amazonaws.com/FrontendImgs/r.png') no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
    cursor: -webkit-grab;
    will-change: transform;
    user-select: none;
  }
  
  .rocket:active {
    cursor: -webkit-grabbing;
  }
  